{% extends "base.html" %}
{% set active_page = title %}
{% block content %}
  <div class="col-md-10 col-md-offset-1">
    <h1 id="category-header">
    {% if alt_title %}{{ alt_title }}{% else %}{{ title.capitalize()}} {% endif %}</h1>
    <div id='table-content'></div>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/griddle-react/build/Griddle.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bundle.js')}}"></script>
	</div>
{% endblock %}
