{% extends "base.html" %}
{% set active_page = title %}
{% block content %}
  <div class="nova col-md-10 col-md-offset-1">
    <h2 id="category-header">
    {% if alt_title %}{{ alt_title }}{% else %}{{ title.capitalize()}} {% endif %}</h1>
    <div id='table-content'></div>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/griddle-react/build/Griddle.js')}}"></script>
    <script type="text/babel">

      var data = JSON.parse({{ data|tojson }});
      var category = document.getElementById('category-header').innerHTML.toLowerCase().trim();
      var columns, columnMetadata;


      var WebsiteLink = React.createClass({
        render: function(){
          let link = this.props.data;
          if (link === undefined || link === null) {
            return <p>No website</p>

          }
          return <a href={link}>{link}</a>
        }
      });

      var TwitterLink = React.createClass({
        render: function() {
          var name = this.props.data;
          if (name !== undefined && name != null) {
            var url = "http://twitter.com/" + name;
            return <a href={url}>@{name}</a>
          } else {
            return <p>No twitter</p>
          }
        }
      });

      var EntityLink = React.createClass({
        render: function(){
          var name = this.props.data;
          var rowObject = this.props.rowData;
          var customHeaderProps = this.props.metadata.customHeaderComponentProps;
          if (customHeaderProps == undefined || customHeaderProps == null) {
            return <p>{name}</p>
          }
          var prependLink = customHeaderProps.link;
          if (prependLink == undefined || prependLink == null) {
            return <p>{name}</p>
          }
          var url;
          if (rowObject.person_id) {
            url = prependLink + rowObject.person_id;
          } else if (rowObject.financial_org_id) {
            url = prependLink + rowObject.financial_org_id;
          } else if (rowObject.city_id) {
            url = prependLink + rowObject.city_id;
          } else if (rowObject.company_id) {
            url = prependLink + rowObject.company_id;
          } else {
            return <p>{name}</p>
          }
          return <a href={url}>{name}</a>
        }
      });

      var SmallList = React.createClass({
        render: function() {
          var data = JSON.parse(this.props.data);
          var customHeaderProps = this.props.metadata.customHeaderComponentProps;
          if (customHeaderProps != undefined) {
            var category = customHeaderProps.category;
          }
          if (data.length <= 0) {
            return <p>No {category}</p>
          }
          var entityArray = [];
          var max = data.length > 3 ? 3 : data.length;
          var listItems = [];
          if (data[0] instanceof Array && category != undefined) {
            var listItems = [];
            if (category == 'financial organizations') {
              category = 'financialorgs';
            }
            var base_url = "/category/" + category + "/";
            for (var i = 0; i < max; i++) {
              var url = base_url + data[i][1];
              if (data[i][0]!= undefined && data[i][0] != null) {
                listItems.push(<li key={data[i][0].toString()}><a href={url}>{data[i][0]}</a></li>);
              }
            }
          } else {
            for (var i = 0; i < max; i++) {
              if (data[i] != undefined && data[i] != null) {
                listItems.push(<li key={data[i][0].toString()}>{data[i]}</li>);
              }
            }
          }
          return <ul className="no-indent">{listItems}</ul>
        }
      });
      switch(category) {
          case 'people':
            columns = ["name", "city", "companies", "role", "twitter"];
            columnMetadata = [{
              "columnName": "name",
              "order": 1,
              "locked": true,
              "displayName": "Name",
              "customComponent": EntityLink,
              "customHeaderComponentProps": { link: 'people/', category: 'people' }
            }, {
              "columnName": "city",
              "order": 2,
              "locked": false,
              "displayName": "City",
              "customComponent": EntityLink
            }, {
              "columnName": "companies",
              "order": 4,
              "locked": false,
              "customComponent": SmallList,
              "displayName": "Companies",
              "customHeaderComponentProps": { link: 'companies/', category: 'companies' }
            }, {
              "columnName": "role",
              "order": 4,
              "locked": false,
              "customComponent": SmallList,
              "displayName": "Roles"
            }, {
              "columnName": "summary",
              "visible": false
            }, {
              "columnName": "twitter",
              "visible": true,
              "displayName": "Twitter",
              "customComponent": TwitterLink
            }];
            break;
          case 'companies':
            columns = ["name", "website", "city", "people", "financial_orgs", "twitter"];
            columnMetadata = [
            {
              "columnName": "name",
              "order": 1,
              "displayName": "Name",
              "customComponent": EntityLink,
              "customHeaderComponentProps": { link: 'companies/', category: 'companies' }
            }, {
              "columnName": "city",
              "visible": true,
              "order": 2,
              "displayName": "City",
              "customComponent": EntityLink
            }, {
              "columnName": "financial_orgs",
              "order": 4,
              "displayName": "Financial Organizations",
              "customComponent": SmallList,
              "customHeaderComponentProps": { link: 'financialorgs/', category: 'financial organizations' }
            }, {
              "columnName": "people",
              "visible": true,
              "order": 3,
              "displayName": "Notable People",
              "customComponent": SmallList,
              "customHeaderComponentProps": { link: 'people/', category: 'people' }
            }, {
              "columnName": "website",
              "order": 1,
              "cssClassName": "griddle-overflow",
              "displayName": "Website",
              "customComponent": WebsiteLink
            }, {
              "columnName": "twitter",
              "visible": true,
              "displayName": "Twitter",
              "customComponent": TwitterLink
            }];
            break;
          case 'financial organizations':
          case 'financialorgs':
            columns = ["name", "city", "website", "companies", "twitter"];
            columnMetadata = [{
              "columnName": "name",
              "locked": true,
              "displayName": "Name",
              "customComponent": EntityLink,
              "customHeaderComponentProps": { link: 'financialorgs/', category: 'financialorgs' }
            }, {
              "columnName": "city",
              "displayName": "Location",
              "customComponent": EntityLink,
            }, {
              "columnName": "website",
              "displayName": "Website",
              "cssClassName": "griddle-overflow",
              "customComponent": WebsiteLink
            }, {
              "columnName": "twitter",
              "visible": true,
              "displayName": "Twitter",
              "customComponent": TwitterLink
            }, {
              "columnName": "companies",
              "visible": true,
              "displayName": "Companies Invested In",
              "customComponent": SmallList,
              "customHeaderComponentProps": { category: 'companies'}
            }, {
              "columnName": "summary",
              "visible": false
            }];
            break;
          case 'cities':
            columns = ["name", "state", "companies", "financial_orgs", "people"];
            columnMetadata = [{
              "columnName": "name",
              "order": 2,
              "displayName": "Name",
              "customComponent": EntityLink,
              "customHeaderComponentProps": { link: 'cities/' }
            }, {
              "columnName": "state",
              "order": 3,
              "displayName": "State"
            }, {
              "columnName": "region",
              "order": 4,
              "displayName": "Region"
            }, {
              "columnName": "companies",
              "displayName": "Companies",
              "customComponent": SmallList,
              "customHeaderComponentProps": { link: 'companies/', category: 'companies' }
            }, {
              "columnName": "financial_orgs",
              "displayName": "Financial Organizations",
              "customComponent": SmallList,
              "customHeaderComponentProps": { link: 'financialorgs/', category: 'financialorgs' }
            }, {
              "columnName": "people",
              "displayName": "Notable People",
              "customComponent": SmallList,
              "customHeaderComponentProps": { link: 'people/', category: 'people' }
            }];
            break;
          default:
            // if we hit this case, we need to create a new list
            columns = undefined;
      }
      ReactDOM.render(
        <Griddle results={data} showSettings={false} columns={columns} columnMetadata={columnMetadata}/>,
        document.getElementById('table-content')
      );
     </script>
	</div>
{% endblock %}
