{% extends "base.html" %}
{% set active_page = category %}
{% block content %}
  <script type="text/babel">
    var companies, roles, financialorgs;
    {% if data.companies %}
      companies = JSON.parse({{data.companies|tojson}});
      {% if data.role %}
        roles = JSON.parse({{data.role|tojson}});
      {% endif %}
    {% endif %}
    {% if data.investors %}
      financialorgs = JSON.parse({{data.investors|tojson}});
    {% endif %}
    {% if data.financial_orgs %}
      financialorgs = JSON.parse({{data.financial_orgs|tojson}});
    {% endif %}

    var FinancialOrgsList = React.createClass({
      render: function() {
        var listItems = [];
        for (var i = 0; i < financialorgs.length; i++) {
          var url = "/category/financialorgs/" + financialorgs[i][1];
          listItems.push(<li key={financialorgs[i][0]}><a href={url}>{financialorgs[i][0]}</a></li>);
        }
        if (listItems.length == 0) {
          listItems = "No Investors"
        }
        return <div><h3>Investors: </h3><ul>{listItems}</ul></div>
      }
    });

    var CompaniesList = React.createClass({
      render: function() {
        var listItems = [];
        for (var i = 0; i < companies.length; i++) {
          var url = "/category/companies/" + companies[i][1];
          if (roles != undefined || roles != null) {
            listItems.push(<li key={companies[i][0]}><a href={url}>{companies[i][0]}</a>, {roles[i]}</li>);
          } else {
            listItems.push(<li key={companies[i][0]}><a href={url}>{companies[i][0]}</a></li>);
          }
        }
        return <ul>{listItems}</ul>
      }
    });

    if (document.getElementById('investors-list') != null) {
      ReactDOM.render(
        <FinancialOrgsList />,
        document.getElementById('investors-list')
      );
    }

    if (document.getElementById('companies-list') != null) {
      ReactDOM.render(
        <CompaniesList />,
        document.getElementById('companies-list')
      );
    }
  </script>

  <div class="col-md-8 col-md-offset-2">
    <div class="photo-right">
      {% if data.image %}
        <img src="{{ data.image }}" class="user-photo"/>
      {% endif %}
    </div>
    <div>
      {% if data.name %}
        <h1>{{ data.name }}</h1>
      {% endif %}
      {% if data.city %}<p><i>{{ data.city }}</i></p>{% endif %}
      {% if data.website %}<a href="{{ data.website }}">{{ data.website }}</a>{% endif %}
      {% if data.summary %}
        {{ data.summary|safe }}
      {% endif %}
      {% if data.companies %}<p>Companies:</p>
        <div id="companies-list"></div>
      {% endif %}
      {% if data.companies_invested %}
        <p>Companies Invested: </p>
        <div id="companies-list"></div> 
      {% endif %}
      {% if data.investors %}
        <div id="investors-list"></div>
      {% endif %}
      {% if data.financial_orgs %}
        <div id="investors-list"></div>
      {% endif %}
    </div>
  {% if data.twitter %}
    <a class="twitter-timeline" href="https://twitter.com/{{data.twitter}}">Tweets by {{data.twitter}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}
  </div>
{% endblock %}