{% extends "base.html" %}
{% set active_page = "space" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/d3.css') }}" type="text/css"/>
<h1>Interswellar D3 Visual</h1>
<div id="d3-body"></div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename='data/space.json') }}"></script>

<script>

// var width = 960,
//     height = 500,
//     radius = Math.min(width, height) / 2 - 10;

var data = $.map(jsonObject.objects, function (el) {
  return el.orbital_period;
});

var dataNames = $.map(jsonObject.objects, function (el) {
  return el.name;
});

var color = d3.scale.category20();

// var arc = d3.svg.arc()
//     .outerRadius(radius);

// var pie = d3.layout.pie();

// var svg = d3.select("body").append("svg")
//     .datum(data)
//     .attr("width", width)
//     .attr("height", height)
//   .append("g")
//     .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

//     svg.append("g")
//   .attr("class", "slices");
// svg.append("g")
//   .attr("class", "labels");
// svg.append("g")
//   .attr("class", "lines");

// d3.select("body").attr("align","center");

//     //svg.append("title").text(function(d) { return dataNames[d]});

// var arcs = svg.selectAll("g.arc")
//     .data(pie)
//   .enter().append("g")
//     .attr("class", "arc");
//   .transition()
//     .ease("bounce")
//     .duration(2000)
//     .attrTween("d", tweenPie)

// arcs.append("path")
//     .attr("fill", function(d, i) { return color(i); })
//   .transition()
//     .ease("bounce")
//     .duration(2000)
//     .attrTween("d", tweenPie)
//   .transition()
//     .ease("elastic")
//     .delay(function(d, i) { return 2000 + i * 50; })
//     .duration(750)
//     .attrTween("d", tweenDonut);



function tweenPie(b) {
  b.innerRadius = 0;
  var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
  return function(t) { return arc(i(t)); };
}

function tweenDonut(b) {
  b.innerRadius = radius * .6;
  var i = d3.interpolate({innerRadius: 0}, b);
  return function(t) { return arc(i(t)); };
}

var svg = d3.select("#d3-body")
  .append("svg")
  .append("g")

svg.append("g")
  .attr("class", "slices");
svg.append("g")
  .attr("class", "labels");
svg.append("g")
  .attr("class", "lines");

var width = 960,
    height = 450,
  radius = Math.min(width, height) / 2;

var pie = d3.layout.pie()
  .sort(null)
  .value(function(d) {
    return d.value;
  });

var arc = d3.svg.arc()
  .outerRadius(radius * 0.8)
  .innerRadius(radius * 0.4);

var outerArc = d3.svg.arc()
  .innerRadius(radius * 0.9)
  .outerRadius(radius * 0.9);

svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var key = function(d){ return d.data.label; };

var color = d3.scale.ordinal()
  .domain(dataNames)
  .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var i = 0;

function randomData (){
  var labels = color.domain();
  return labels.map(function(label){
    return { label: label, value: data[i++] }
  });

}

change(randomData());

function change(data) {

  /* ------- PIE SLICES -------*/
  var slice = svg.select(".slices").selectAll("path.slice")
    .data(pie(data), key);

  slice.enter()
    .insert("path")
    .style("fill", function(d) { return color(d.data.label); })
    .attr("class", "slice");

  slice   
    .transition().duration(1000)
      .transition()
    .ease("bounce")
    .duration(2000)
    .attrTween("d", tweenPie)

  slice.exit()
    .remove();

  /* ------- TEXT LABELS -------*/

  var text = svg.select(".labels").selectAll("text")
    .data(pie(data), key);

  text.enter()
    .append("text")
    .attr("dy", ".35em")
    .text(function(d) {
      return d.data.label;
    });
  
  function midAngle(d){
    return d.startAngle + (d.endAngle - d.startAngle)/2;
  }

  text
  .style("opacity", 0)
  .transition()
    .delay(2500)
    .style("opacity", 1)
    .duration(2000)
    .attrTween("transform", function(d) {
      this._current = this._current || d;
      var interpolate = d3.interpolate(this._current, d);
      this._current = interpolate(0);
      return function(t) {
        var d2 = interpolate(t);
        var pos = outerArc.centroid(d2);
        pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
        return "translate("+ pos +")";
      };
    })
    .styleTween("text-anchor", function(d){
      this._current = this._current || d;
      var interpolate = d3.interpolate(this._current, d);
      this._current = interpolate(0);
      return function(t) {
        var d2 = interpolate(t);
        return midAngle(d2) < Math.PI ? "start":"end";
      };
    });

  text.exit()
    .remove();

  /* ------- SLICE TO TEXT POLYLINES -------*/

  var polyline = svg.select(".lines").selectAll("polyline")
    .data(pie(data), key);
  
  polyline.enter()
    .append("polyline");

  polyline
  .style("opacity", 0)
  .transition()
    .delay(2500)
    .style("opacity", .5)
    .duration(2000)
    .attrTween("points", function(d){
      this._current = this._current || d;
      var interpolate = d3.interpolate(this._current, d);
      this._current = interpolate(0);
      return function(t) {
        var d2 = interpolate(t);
        var pos = outerArc.centroid(d2);
        pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
        return [arc.centroid(d2), outerArc.centroid(d2), pos];
      };      
    });
  
  polyline.exit()
    .remove();
};


</script>
{% endblock %}
