.photo-right {
	float:right;
}

.user-photo {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

body {
  background-color: #e7e7e7;
}

footer {
  color: white;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #343434;
}
