{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<!-- About -->
<section id="About">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="divider">
      </div>
    </div>

    <!-- Introduction -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Startup Fairy is a guide for people who want to learn more about startup culture and get acquainted with the major players in the industry. Startup Fairy allows the user to search for statistics for a plethora of startups as well as company demographics that will help in their search for place of employment. The use of this service will allow for an aggregate foundation for data provided for a respective startup all in one coherent location.</p>
      </div>
      <div class="col-lg-4">
        <p> The use of this site will provide for an easier transition into startup culture as well as understanding what each respective truly does as well as exhibit their company culture. There are various models implemented in the site to allow for users to search through different mediums to filter for what they are looking for in a company.</p>
      </div>
    </div>
  </div>
</section>

<br>

<!-- People -->
<section class="altback" id="Team">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Team</h2>
        <hr class="divider">
      </div>
    </div>

    <!-- Team Members -->
    <div class="row nova" id="first">
      <div class="col-sm-3 team-member">
        <img src="https://github.com/addykim.png" class="img-responsive" alt="">
        <h3>Addy Kim</h3>
        I'm a cat loving Computer Science major at the University of Texas. In my free time I enjoy doing wushu and crafts.
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://github.com/marktheperson.png" class="img-responsive" alt="">
        <h3>Marcus Cruz</h3>
        Hey y’all, my name is Marcus Cruz, but I also go by Mark. I’m a student at the University of Texas at Austin studying computer science. My hobbies are photography, video games, hiking, and listening to music.
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://github.com/ilinum.png" class="img-responsive" alt="">
        <h3>Svyatoslav Ilinskiy</h3>
        Hi, my name is Svyatoslav but I go by Stas. I study CS at UT Austin. previously, I have interned at JetBrains, working on Scala plugin for IntelliJ. I like hiking and having fun
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://avatars0.githubusercontent.com/u/8815436?v=3&s=460" class="img-responsive" alt="">
        <h3>Cameron Reynoldson</h3>
        I love all things fat cats, competitive programming and infrastructure. I'm currently a CS major at UT Austin and worked at Dropbox this past summer on rebuilding their feature gating system in Go.
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://raw.githubusercontent.com/summergirl21/swe-blog/master/images/Headshot.jpg" class="img-responsive" alt="">
        <h3>Madeline Stager</h3>
        Hi, I'm a Computer Science student at UT Austin. In my free time I like hiking, camping and playing frisbee.
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://avatars.githubusercontent.com/ajrator" class="img-responsive" alt="">
        <h3>Ajmal Khan</h3>
        I am currently studying Computer Science at The University of Texas at Austin and have interned with Dell and MD Anderson. I love fiddling with Python and playing the guitar.
      </div>

      <div class="col-sm-3 team-member">
        <img src="https://avatars.githubusercontent.com/eugenern" class="img-responsive" alt="">
        <h3>Eugene Ng</h3>
        I'm a student in Computer Science at UT Austin. In my free time I enjoy following the NBA and occasionally listening to music or playing video games.
      </div>
    </div>
  </div>
</section>

<!-- Data -->
<section id="Data">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Tools</h2>
        <hr class="divider">
      </div>
    </div>

    <!-- Team Members -->
    <div class="row nova" id="first">
      <div class="col-sm-3 team-member">
        <h3>Digital Ocean</h3>
        Web Hosting
      </div>

      <div class="col-sm-3 team-member">
        <h3>React</h3>
        Open-Source JavaScript Library
      </div>

      <div class="col-sm-3 team-member">
        <h3>Bower</h3>
        Package Manager
      </div>

      <div class="col-sm-3 team-member">
        <h3>Bootstrap</h3>
        Visuals / UI
      </div>

      <div class="col-sm-3 team-member">
        <h3>Flask</h3>
        Backend
      </div>
    </div>

  </div>
</section>

<!-- Tools -->
<section class="altback" id="Tools">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Data</h2>
        <hr class="divider">
      </div>
    </div>

    <!-- Content -->
    <div class="col-sm-6 team-member">
      <h3>Data Sources</h3>
      https://www.crunchbase.com/#/home/index
    </div>

    <div class="col-sm-6 team-member">
      <h3>Data Sources</h3>
      https://www.crunchbase.com/#/home/index
    </div>
  </div>
</section>


<!-- Stats -->
<section id="Statistics">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Statistics</h2>
        <hr class="divider">
      </div>
    </div>

    <!-- Git Stats -->
    <div class="row" id="stats">
      <div class="col-lg-4 text-center">
        <h3>Total # of Commits</h3>
        <p>100</p>
      </div>

      <div class="col-lg-4 text-center">
        <h3>Total # of Issues</h3>
        <p>35</p>
      </div>

      <div class="col-lg-4 text-center">
        <h3>Total # of Unit Tests</h3>
        <p>16</p>
      </div>
    </div>

    <!-- Links to Repo/Wiki/Apiary/Issues -->
    <div class="row" id="links">
      <div class="col-sm-3 text-center">
        <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy" class="btn btn-lg btn-outline">
          Github Repo
        </a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="https://app.apiary.io/startupfairy/" class="btn btn-lg btn-outline">
          Apiary API
        </a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy/issues" class="btn btn-lg btn-outline">
          Issues Tracker
        </a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy/wiki" class="btn btn-lg btn-outline">
          WikiDoc
        </a>
      </div>
    </div>

  </div>
</section>

{% endblock %}
