{% extends "base.html" %}
{% block content %}

<!-- About -->
<section class="success" id="about">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Us</h2>
                <hr class="star-light">
            </div>
        </div>

        <!-- Introduction -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Startup Fairy is a tool for people to blah blah blah blah blah INSERT RANDOM BLAH BLAH ABOUT THE PURPOSE OF THIS SITE.</p>
            </div>
            <div class="col-lg-4">
                <p>This is a second column. INSERT RANDOM BLAH BLAH ABOUT THE INTENDED USERS OF THIS SITE.</p>
            </div>
        </div>
    </div>
</section>

<!-- People -->
<section id="People">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Team</h2>
                <hr class="star-primary">
            </div>
        </div>

        <!-- Team Members -->
        <div class="row">
            <div class="col-sm-4">
                <img src="https://github.com/addykim.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4">
                <img src="https://github.com/marktheperson.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4">
                <img src="https://github.com/ilinum.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4">
                <img src="https://avatars0.githubusercontent.com/u/8815436?v=3&s=460" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4">
                <img src="https://raw.githubusercontent.com/summergirl21/swe-blog/master/images/Headshot.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4">
                <img src="https://avatars.githubusercontent.com/ajrator" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Data -->
<section class="success" id="Data">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Data</h2>
                <hr class="star-light">
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-lg-4">
                <p>write stuff about our data sources here.</p>
            </div>
        </div>
    </div>
</section>

<!-- Tools -->
<section class="success" id="Data">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tools</h2>
                <hr class="star-light">
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-lg-4">
                <p>write stuff about our tool stack here.</p>
            </div>
        </div>
    </div>
</section>


<!-- Stats -->
<section class="success" id="Data">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Statistics</h2>
                <hr class="star-light">
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-lg-4">
                <p>write stuff about our github stats here.</p>
            </div>
        </div>

        <!-- Links to Repo/Wiki/Apiary/Issues -->
        <div class="row">
          <div class="col-sm-5 text-center">
              <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy" class="btn btn-lg btn-outline">
                  Github Repo
              </a>
          </div>

          <div class="col-sm-5 text-center">
              <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy" class="btn btn-lg btn-outline">
                  Apiary API
              </a>
          </div>

          <div class="col-sm-5 text-center">
              <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy/issues" class="btn btn-lg btn-outline">
                  Issues Tracker
              </a>
          </div>

          <div class="col-sm-5 text-center">
              <a href="https://github.com/cs373gc-fall-2016/Startup-Fairy/wiki" class="btn btn-lg btn-outline">
                  WikiDoc
              </a>
          </div>
        </div>

    </div>
</section>

{% endblock %}
