<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }} | Startup Fairy</title>
    {% else %}
        <title>Startup Fairy</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

    <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>

    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

    <script src="https://use.typekit.net/mup3ngh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Startup Fairy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% set navigation_bar = [
                    ('/', 'index', 'Home'),
                    ('/about', 'about', 'About'),
                    ('/cities', 'cities', 'Cities'),
                    ('/companies', 'companies', 'Companies'),
                    ('/organizations', 'organizations', 'Organizations'),
                    ('/people', 'people', 'People')
                ] -%}
                {% set active_page = active_page|default('index') -%}
                {% for href, id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
    {% block content %}{% endblock %}
  </body>
</html>
