{% extends "base.html" %}
{% block content %}
  <div class="col-md-8 col-md-offset-2">
    <div class="photo-right">
      {% if data.image %}
        <img src="{{ data.image }}" class="user-photo"/>
      {% else %}
        <img src="https://cdn2.iconfinder.com/data/icons/metro-ui-dock/512/User_No-Frame.png" class="user-photo" />
      {% endif %}
    </div>
    <div>
      {% if data.name %}
        <h1>{{ data.name }}</h1>
      {% else %}
        <h1>Model</h1>
      {% endif %}
      {% if tagline %}<p>{{ tagline }}</p>{% endif %}
      {% if data.location %}<p>Location: {{ data.city }}</p>{% endif %}
      {% if data.company %}<p>Company: {{ data.company }}</p>{% endif %}
      {% if data.summary %}<p>{{data.summary}}</p>{% endif %}
    </div>
  {% if data.twitter %}
      <a class="twitter-timeline" href="https://twitter.com/{{data.twitter}}">Tweets by {{data.twitter}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}
  </div>
{% endblock %}