{% extends "base.html" %}
{% block content %}
  <div class="col-md-8 col-md-offset-2">
    <div class="photo-right">
      {% if image %}
        <img src="{{ image }}" class="user-photo"/>
      {% else %}
        <img src="https://cdn2.iconfinder.com/data/icons/metro-ui-dock/512/User_No-Frame.png" class="user-photo" />
      {% endif %}
    </div>
    <div>
      {% if name %}
        <h1>{{ name }}</h1>
      {% else %}
        <h1>Model</h1>
      {% endif %}
      {% if tagline %}<p>{{ tagline }}</p>{% endif %}
      {%if location %}<p>Location: {{ location }}</p>{% endif %}
      {%if company %}<p>Company: {{ company }}</p>{% endif %}
      <p>Number of Useres: {{ number_of_users }}</p>
      {%if website %}<p>Website: {{ website }}</p>{% endif %}
    </div>
  {% if twitter %}
      <a class="twitter-timeline" href="https://twitter.com/{{twitter}}">Tweets by {{twitter}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}
  </div>
{% endblock %}